/* styles.css (seu arquivo CSS principal) */

/* ... Outros estilos existentes ... */

/* CSS com media queries para responsividade */
@media (max-width: 767px) {
    /* Insira aqui os estilos específicos para telas menores */
    body {
        font-size: 14px; /* Exemplo: Reduza o tamanho da fonte para telas menores */
    }
    /* Outras regras de estilo para telas menores */
}

/* ... Outros estilos existentes ... */


/* styles.css */

/* ... Outros estilos existentes ... */

/* Adicione o código CSS fornecido */
/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(320deg, #6d80ed 0, #364f9d 25%, #002150 50%, #00000e 75%, #000000 100%);
}

header {
    background-color:linear-gradient(320deg, #6d80ed 0, #364f9d 25%, #002150 50%, #00000e 75%, #000000 100%);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}



header .logo img {
    max-width: 100%;
    height: auto;
}
.linha{
    width: 100%;
    height: 20%;
}

/* Estilos para o Logo no Topo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    z-index: 1;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Seção Herói */
.hero {
    position: relative; /* Importante para garantir que o conteúdo seja colocado sobre o fundo do efeito "Dots" */
    text-align: center;
    padding: 230px 0;
    color: #ffffff; /* Cor do texto para contraste com o fundo */
}

.background-image {
    position: static;
    top: 0;
    left: 0;
    width: 15%;
    height: 15%;
    z-index: 1; /* Coloca a imagem acima do efeito de queda de neve */
}


.hero h2 {
    font-size: 2.5rem;
}

.cta-button {
    display: inline-block;
    background-color: #f90;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}




/* Seção de Serviços */
.servicos {
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px 0;
}

.servicos h2 {
    font-size: 2rem;
}

.servicos ul {
    list-style: none;
    padding: 0;
}

.servicos ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Efeito de fundo de nuvens */
.clouds-effect {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    height: 20%;
    background-image: url('clouds.png'); /* Substitua 'clouds.png' pelo caminho da sua imagem de nuvens */
    background-size: cover;
    z-index: 1; /* Coloca o fundo de nuvens atrás de todos os outros elementos */
}

/* Fim do código CSS fornecido */
